.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
  }
#login {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.log-in-message {
    color: red;
}