#welcome-position {
    position: absolute;
    left: 50%;
    top: 10%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.card-profile-stats {
    border: 1px solid #cacaca;
    padding: 1.25rem;
    background: #fefefe;
    top: 20%;
  }
  
  .card-profile-stats .card-profile-stats-intro {
    text-align: center;
    height: 100px;
  }
  
  .card-profile-stats .card-profile-stats-intro {
    border-radius: 50%;
    margin: 0 0 1.25rem;
  }
  
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
    margin: 0;
  }
  
  .card-profile-stats .card-profile-stats-container {
    text-align: center;
    top: 20%;
  }
  
  .card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
    margin: 0 0 1.25rem;
  }
  
  .card-profile-stats .card-profile-stats-container .card-profile-stats-statistic p:last-child {
    margin: 0;
  }
  
  
  @media print, screen and (min-width: 64em) {
    .card-profile-stats .card-profile-stats-intro {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      text-align: left;
    }
    .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
      margin: 0 1.25rem 0 0;
      max-width: 250px;
    }
    .card-profile-stats .card-profile-stats-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
    }
  }
  
  